$gold: #e7bb0b;
$off-white: #c7c2b8;

$form-check-input-checked-bg-color: $gold;
$form-check-input-checked-border-color: $gold;
$form-check-input-focus-border: $gold;
$form-check-transition: $gold;
$form-check-input-focus-border: $gold;
$form-check-input-focus-box-shadow: none;

$bs-btn-bg: black;
@import "../../../../node_modules/bootstrap/scss/bootstrap.scss";
