#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%
}

.App{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.title{
  color: var(--gold);
}

.container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  color: var(--off-white);
  border: 1px solid var(--gold);
  border-radius: 20px;
  background-color: var(--black);
}


.GridItem img{
  max-height: 200px;
}
