#root{
  --black: #1a2325;
  --lighter-black: #233032;
  --gold: #f2d16c;
  --off-white: #c7c2b8 ;
  --green: #476748;
}

body {
  background-image: url('./assets/bg.jpg');
  background-repeat: no-repeat;
  background-position: center ;
  background-size: cover;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--black);
}

