.card-img{
    max-width: 200px;
}

.card{
    display: flex;
    align-items: center;
    background: transparent;
    border-radius: 20px;
}

.card:hover{
    color: var(--black);
    background-color: var(--gold);
}

.card-body{
    display: flex;
    justify-content: center;
}

.card.body img{
    max-height: 100px;
}